<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="item1">
    <ion-label>{{text}}</ion-label>
    <ion-input type="text" name="modelName" #modelName clearInput="true" inputmode="text" maxlength=20
      value=""></ion-input>
  </div>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-button class="cancel" (click)="cancel()" expand="block" fill="clear">
      取消
    </ion-button>
    <ion-button class="confirm" (click)="confirm(modelName)" expand="block" fill="clear">
      确认
    </ion-button>
  </ion-item>
</ion-footer>
