ion-header {
    ion-toolbar {
        text-align: center;
    }
}

ion-content {

    ion-list {
        .val {
            width: 50%;
            color: rgb(21, 130, 231);

            ion-icon {
                color: rgb(21, 130, 231);
            }
        }
    }

}

ion-footer {
    ion-toolbar {
        --background: white;
        color: #000;

        .cancel {
            margin-left: 2em;
        }

        .confirm {
            margin-right: 2em;
        }
    }
}