<ion-header>
  <ion-toolbar>
    <ion-title>{{modelName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item lines="none" class="item1" id="item1">
      <div class="image">
        <ion-img id="img" [src]="config.apiUrl + imgUrl"></ion-img>
      </div>
    </ion-item>

    <ion-item class="item2" lines="none">
      <ion-segment mode="ios" color="danger" value="front" (ionChange)="modelChanged($event)">
        <ion-segment-button mode="ios" value="front">
          <ion-label>正面</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" value="back">
          <ion-label>背面</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-item class="item3" lines="none">
      <ion-tab-button (click)="setColor()">
        <ion-icon src="../../../assets/icon/color.svg"></ion-icon>
        <ion-label>颜色</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="setMap()">
        <ion-icon src="../../../assets/icon/map.svg"></ion-icon>
        <ion-label>贴图</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="sign()">
        <ion-icon src="../../../assets/icon/signature.svg"></ion-icon>
        <ion-label>签名</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="more()">
        <ion-icon src="../../../assets/icon/parameter.svg"></ion-icon>
        <ion-label>更多设计</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="getScore()">
        <ion-icon src="../../../assets/icon/praise.svg"></ion-icon>
        <ion-label>实时评分</ion-label>
      </ion-tab-button>
    </ion-item>
  </ion-list>

  <div id="frontMap" style="width: 80px; height: 80px;" appMapDrag slot="fixed" startLeft="0" startTop="0" hidden></div>
  <div id="backMap" style="width: 80px; height: 80px;" appMapDrag slot="fixed" startRight="0" startTop="0" hidden></div>
  <div id="signature" style="width: 200px; height: 30px;" appMapDrag slot="fixed" startRight="0" startTop="0" hidden>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="cancel" (click)="cancel()" expand="block" slot="start">
      <ion-label>取消</ion-label>
    </ion-button>
    <ion-button class="save" (click)="save()" expand="block" slot="end">
      <ion-label>保存</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>