.user-first {
    padding: 0 0;
    background: rgb(243, 10, 165);
}

.user-first ion-item {
    // --background: '../../../assets/bg/userbg1.png';
    --background: rgb(243, 10, 165);
    --color: #fff;
}

.user-first ion-button {
    color: #fff;
}

.user-first ion-label {
    color: #fff;
}

.qf-list {
    margin-top: 1em;
    padding: 0 0;
}

.level {
    --background: rgb(71, 37, 150);
    height: 30px;
    width: 100%;
    margin: 0 0 -16px 0;
    border-radius: 12px 12px 5px 5px;
}

.level ion-card-content {
    padding: 6px 0 0 0;
    text-align: center;
    font-weight: 500;
    width: 100%;
    height: 100%;
    color: rgb(241, 197, 100);
}

.logistics {
    --background: #f0f0f0;
    box-shadow: none;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.logistics ion-card-content {
    padding: 0 0;
    font-size: 10px;
    height: 60px;
}

.logisticsInfo {
    --background: #f0f0f0;
    font-size: 1em;
    height: 60px;
    --padding-start: 15px;
    --inner-padding-end: 0px;
    --min-height: 30px;
}

.logisticsInfo ion-list {
    padding: 0 0 0 8px;
    background: #f0f0f0;
}

.logisticsInfo ion-img {
    height: 30px;
    width: 30px;
}

.options {
    padding: 8px 0 5px 0;
}