<ion-header>
  <ion-toolbar>
    <ion-title>编辑</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of model" class="fixed">
      <ion-label>{{item.key}}:</ion-label>
      <ion-label>{{item.value}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>签名: </ion-label>
      <ion-input #sign autofocus="true" clearInput="true" inputmode="text" maxlength=20 value="{{signature}}">
      </ion-input>
    </ion-item>
    <ion-item id="shellFabric" *ngIf="shellFabric !== ''">
      <ion-label>面料</ion-label>
      <ion-select placeholder="{{shellFabric}}" cancelText='取消' mode='ios' okText='确认'
        (ionChange)="getSelectValue($event)" [interfaceOptions]="customOptions">
        <ion-select-option value="棉90%,涤纶10%">棉90%,涤纶10%</ion-select-option>
        <ion-select-option value="棉80%,涤纶20%">白色</ion-select-option>
        <ion-select-option value="棉70%,涤纶30%">棉70%,涤纶30%</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item id="sleeveLeftColor" *ngIf="sleeveLeftColor !== ''">
      <ion-label>左袖子颜色</ion-label>
      <ion-select placeholder="{{sleeveLeftColor}}" cancelText='取消' mode='ios' okText='确认'
        (ionChange)="getSelectValue($event)" [interfaceOptions]="customOptions">
        <ion-select-option value="保持原样">保持原样</ion-select-option>
        <ion-select-option value="白色">白色</ion-select-option>
        <ion-select-option value="黑色">黑色</ion-select-option>
        <ion-select-option value="蓝色">蓝色</ion-select-option>
        <ion-select-option value="红色">红色</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item id="sleeveRightColor" *ngIf="sleeveRightColor !== ''">
      <ion-label>右袖子颜色</ion-label>
      <ion-select placeholder="{{sleeveRightColor}}" cancelText='取消' mode='ios' okText='确认'
        (ionChange)="getSelectValue($event)" [interfaceOptions]="customOptions">
        <ion-select-option value="保持原样">保持原样</ion-select-option>
        <ion-select-option value="白色">白色</ion-select-option>
        <ion-select-option value="黑色">黑色</ion-select-option>
        <ion-select-option value="蓝色">蓝色</ion-select-option>
        <ion-select-option value="红色">红色</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="printFront !== ''">
      <ion-label>正面印花</ion-label>
      <ion-img class="print" [src]="config.apiUrl + printFront"></ion-img>
    </ion-item>
    <ion-item *ngIf="printBack !== ''">
      <ion-label>背面印花</ion-label>
      <ion-img class="print" [src]="config.apiUrl + printBack"></ion-img>
    </ion-item>
    <ion-item lines="none">
      <ion-img [src]="config.apiUrl + imgF"></ion-img>
      <ion-img [src]="config.apiUrl + imgB"></ion-img>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-label slot="start" class="cancel" color="primary" (click)="back()">返回</ion-label>
    <ion-label slot="end" class="confirm" color="primary" (click)="commit()">保存修改</ion-label>
  </ion-toolbar>
</ion-footer>