ion-header {
    ion-toolbar {
        text-align: center;

        ion-button {
            color: white;
            font: 1.2em sans-serif;
        }
    }
}

ion-list {
    margin: 0.5em 0 0.5em 0;
    border-radius: 0.7em;

    .item1 {
        ion-icon {
            color: rgb(146, 141, 141);
            margin-right: 1em;
        }
    }

    .choice {
        color: rgb(109, 107, 107);
    }

    .score {
        color: rgb(6, 179, 223);
    }

    .buttons {
        ion-label {
            font: 0.8em sans-serif;
            color: rgb(146, 141, 141);
        }

        ion-button {
            margin-inline-start: 0.5em;
        }
    }
}