.color-modal {
    --border-color: #000000;
    --border-radius: 0.6em;
    --height: 22em;
    --width: 17em;
}

.map-modal {
    --border-color: #000000;
    --border-radius: 0.6em;
    --height: 27em;
    --width: 21em;
}

.signature-modal {
    --height: 15em;
    --width: 22em;
    --border-radius: 0.5em 0.5em 0 0;

}

.cancel-modal {
    --height: 16em;
    --width: 18em;
    --border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.more-select {
    --ion-text-color: rgb(243, 225, 225);
}

.input-modal{
    --height: 16em;
    --width: 18em;
    --border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.draft-modal{
    --border-color: #000000;
    --border-radius: 0.6em;
    --height: 35em;
    --width: 22em;
}

.supplier-common-modal{
    --border-color: #000000;
    --border-radius: 0.6em;
    --height: 30em;
    --width: 20em;
}