.logo {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.submit {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
    height: 3em;
    --border-radius: 20px;
}

.md ion-title {
    text-align: center;
    margin-right: 48px;
}

.md ion-list {
    padding: 0 0;
}