/************** header ******************/
.header {
    padding: 20px 0 10px 0;
    --background: rgb(243, 10, 165);

    ion-icon {
        height: 25px;
        width: 25px;
        color: #e5e6e8;
    }

    .goSearch {
        border-radius: 20px;
        height: 30px;
        --background: #f1f5fc;

        ion-icon {
            padding-left: 10px;
            color: #8d9094 !important;
        }

        .iplaceholder {
            width: 100%;
            color: #737577;
        }
    }
}

/*************** content ********************/
.category_content {
    height: 100%;
    display: flex;

    .category_left {
        width: 80px;
        height: 100%;
        overflow-y: auto;

        .category_list {
            padding: 0 0;

            ion-item {
                --inner-padding-end: 0;
                color: rgb(100, 96, 96);
                font-size: 0.5rem;
                --background: #e5e6e8;
            }
        }
    }

    .category_right {
        background-color: #fff;
        height: 100%;
        flex: 1;
        overflow-y: auto;
        .title{
            font-size: 0.8rem;
            color: rgb(32, 31, 31);
        }
        .block {
            display: grid;
            height: 100%;
            grid-template-rows: repeat(3, 33.33%);
            grid-template-columns: repeat(3, 33.33%);
            margin: 2px 10px 10px 3px;
            padding-bottom: 20px;
            grid-row-gap: 8px;
            grid-column-gap: 6px;
            box-shadow:  0px 0px 6px 6px #faf6f6;

            ion-img {
                width: 95%;
                height: 50px;
            }

            ion-label {
                font-size: 0.6rem;
                color: rgb(43, 42, 42);
                text-align: center;
            }
        }
    }
}