<ion-header>
  <ion-item class="header" lines="none">
    <ion-button (click)="scan()" expand="block" fill="clear" shape="round">
      <ion-icon name="scan-outline"></ion-icon>
    </ion-button>
    <ion-input type="text" class="goSearch" (click)="goSearch()" readonly>
      <ion-icon name="search-outline"></ion-icon>
      <ion-label class="iplaceholder"> 奇服搜索</ion-label>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-input>
    <ion-button (click)="goMessagePage()" expand="block" fill="clear" shape="round">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-header>

<ion-content>
  <div class="category_content">
    <div class="category_left">
      <ion-list class="category_list">
        <ion-item *ngFor="let item of categoryList" (click)="getCategoryData(item.product_id)">
          {{item.title}}
        </ion-item>
      </ion-list>
    </div>

    <div class="category_right">
      <ion-list *ngFor="let title of subtitle;">
        <ion-item>
          <ion-label class="title">{{title}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <div class="block">
            <div *ngFor="let picture of categoryData">
              <ion-img [src]="config.apiUrl+picture.picture_url" *ngIf="picture.user_id == 1"></ion-img>
              <ion-label *ngIf="picture.user_id == 1">{{picture.picture_description}}</ion-label>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>