<ion-header>
  <ion-item class="header" lines="none">
    <ion-button (click)="scan()" expand="block" fill="clear" shape="round">
      <ion-icon name="scan-outline"></ion-icon>
    </ion-button>
    <ion-input type="text" class="goSearch" [routerLink]="['/search']" routerLinkActive="router-link-active" readonly>
      <ion-icon name="search-outline"></ion-icon>
      <ion-label class="iplaceholder"> 奇服搜索</ion-label>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-input>
    <ion-button (click)="goMessagePage()" expand="block" fill="clear" shape="round">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-header>

<ion-content>
  <div class="category_content">
    <div class="category_left">
      <ion-list class="category_list">
        <ion-item *ngFor="let title of categoryData" (click)="getData(title.itemNo)">
          <div id="{{title.itemNo}}">{{title.itemName}}</div>
        </ion-item>
      </ion-list>
    </div>

    <div class="category_right">
      <div *ngFor="let title of categoryData;">
        <div *ngIf="title.itemNo == curTitle">
          <ion-list *ngFor="let sub of title.data;">
            <ion-item lines="none">
              <ion-label class="title">{{sub.subtitle}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <div class="block">
                <div *ngFor="let clothes of sub.detail">
                  <ion-img [src]="config.apiUrl+clothes.picture"></ion-img>
                  <ion-label>{{clothes.itemName}}</ion-label>
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>