<ion-header>
  <ion-item class="header" lines="none">
    <ion-button (click)="scan()" expand="block" fill="clear" shape="round">
      <ion-icon name="scan-outline"></ion-icon>
    </ion-button>
    <ion-input type="text" class="goSearch" [routerLink]="['/search']" routerLinkActive="router-link-active"  readonly>
      <ion-icon name="search-outline"></ion-icon> 
      <ion-label class="iplaceholder"> 奇服搜索</ion-label> 
      <ion-icon name="camera-outline"></ion-icon>
    </ion-input>
    <ion-button (click)="goMessagePage()" expand="block" fill="clear" shape="round">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-segment (ionChange)="segmentChanged($event)" value="home" lines="none" class="segment">
    <ion-segment-button value="home">
      <ion-label>首页</ion-label>
    </ion-segment-button>
    <ion-segment-button value="woman">
      <ion-label>女装</ion-label>
    </ion-segment-button>
    <ion-segment-button value="man">
      <ion-label>男装</ion-label>
    </ion-segment-button>
    <ion-segment-button value="child">
      <ion-label>童装</ion-label>
    </ion-segment-button>
    <ion-segment-button value="strange">
      <ion-label>奇装</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios" class="slide">
    <ion-slide>
      <ion-img src="../../../assets/slide/slide1.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/slide/slide2.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/slide/slide3.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/slide/slide4.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../../assets/slide/slide5.png"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-list class="content2">
    <ion-item lines="none">
      <ion-tab-button tab="design">
        <ion-icon src="../../../assets/icon/design.svg"></ion-icon>
        <ion-label>设计</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="design">
        <ion-icon src="../../../assets/icon/hot.svg"></ion-icon>
        <ion-label>今日爆款</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="design">
        <ion-icon src="../../../assets/icon/circle.svg"></ion-icon>
        <ion-label>奇服圈</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="design">
        <ion-icon src="../../../assets/icon/recommend.svg"></ion-icon>
        <ion-label>强烈推荐</ion-label>
      </ion-tab-button>
    </ion-item>
    <ion-item lines="none">
      <ion-tab-button tab="design">
        <ion-icon src="../../../assets/icon/member.svg"></ion-icon>
        <ion-label>plus会员</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="design">
        <ion-icon src="../../../assets/icon/redpacket.svg"></ion-icon>
        <ion-label>抢红包啦</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="design">
        <ion-icon src="../../../assets/icon/goldcoin.svg"></ion-icon>
        <ion-label>领金币</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="design">
        <ion-icon src="../../../assets/icon/category.svg"></ion-icon>
        <ion-label>分类</ion-label>
      </ion-tab-button>
    </ion-item>
  </ion-list>

  <ion-list class="content3">
    <ion-item lines="none" class="like">
      <ion-label>猜你喜欢</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>content</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>走进奇服的圈子</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>content</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>每日特价</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>content</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>定制批发</ion-label>
    </ion-item>
    <ion-item class="wholesale">
      <ion-label>content</ion-label>
    </ion-item>
  </ion-list>
</ion-content>