/************** header ******************/
.header {
    padding: 20px 0 10px 0;
    --background: rgb(243, 10, 165);
    ion-icon {
        height: 25px;
        width: 25px;
        color: #e5e6e8;
    }
    .goSearch {
        border-radius: 20px;
        height: 30px;
        --background: #f1f5fc;
        ion-icon {
            padding-left: 10px;
            color: #8d9094 !important;
        }
        .iplaceholder{
            width: 100%;
            color: #737577;
        }
    }
}

.segment ion-segment-button{
    --border-color: rgb(243, 10, 165);
    --color:#e5e6e8;
    --indicator-color:#e5e6e8;
    --color-checked:#fff;
    --background-checked:rgb(243, 10, 165);
}

.slide {
    padding: 10px 10px 0px 10px;
}

.slide ion-img{
    height: 120px; 
    width: 100%;
}

.content2 {
    padding: 0 0;
    background-color:#e5e6e8;
}

.content2 ion-item{
    padding-top: 3px;
    --background:#e5e6e8;
}

.content3{
    padding: 0 0;
    background-color:#e5e6e8;
}
.content3 ion-item{
    padding-left: 10px;
    padding-right: 10px;
}

.like{
    padding-top: 7px;
    --border-radius: 10px 10px 0 0;
}

.wholesale{
    --border-radius: 0 0 10px 10px;
}

.product {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: #e5e6e8;
    ion-col{
        padding: 0;
        ion-card{
            margin-inline-start: 5px;
            margin-inline-end: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 13.5em;

            ion-item{
                --padding-start: 0px;
            }
            .price{
                font: 1em sans-serif;
                color: #f5611d;
            }

            .style{
                font: 0.5em sans-serif;
                color: rgb(99, 97, 97);
            }
        }

    }
}
/********** md *************/
.md {

}
/********** ios *************/
.ios {
    .segment ion-segment-button{
        --color-checked:#5d5e5f;
        --background-checked:rgb(243, 10, 165);
    }
}
