<ion-header>
  <ion-toolbar>
    <ion-title>修改</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>任务单号</ion-label>
      <ion-label>{{task.task_id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>设计稿</ion-label>
      <ion-label>{{task.model_id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>更换尺码</ion-label>
      <ion-label>{{sizeId}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>期望金额: </ion-label>
      <ion-input #amount type="number" value="{{task.expect_amount}}"></ion-input>
      元
    </ion-item>
    <ion-item>
      <ion-label>期望时间: </ion-label>
      <ion-input #deli type="text" value="{{task.delivery}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>补充说明: </ion-label>
      <ion-input #sup type="text" value="{{task.supplement}}"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button class="scoreBtn" (click)="getScore()" expand="block" shape="round">
        计算评分
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{iScore}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-label slot="start" class="cancel" color="primary" (click)="back()">返回</ion-label>
    <ion-label slot="end" class="confirm" color="primary" (click)="commit(amount, deli, sup)">保存修改</ion-label>
  </ion-toolbar>
</ion-footer>
