<ion-header>
  <ion-toolbar>
    <ion-title>参数选择-{{modelName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of fixed.fixed">
      <ion-label class="title">{{item.opt_type}}:</ion-label>
      <ion-label class="content">{{item.opt_name}}</ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item *ngFor="let item of optional">
      <ion-label class="option-title">{{item.itemName}}<p>*</p>
      </ion-label>
      <ion-select id="{{item.itemNo}}" value="{{item.option}}" cancelText='取消' mode='md'
        okText='确认' (ionChange)="getSelectValue($event)">
        <ion-select-option *ngFor="let opt of item.options" value="{{opt.opt_name}}">{{opt.opt_name}}
        </ion-select-option>
      </ion-select>
      <ion-label class="supplement">{{item.supplement}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-button class="confirm" (click)="confirm()" expand="block">
    确认并退出
  </ion-button>
</ion-footer>